<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de clientes</h2>
  </div>
  <div class="panel-body">
    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th scope="col">Endereço</th>
        <th scope="col">Tipo</th>
        <th scope="col">Documento</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers | async; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{customer.name}}</td>
        <td>
          <div *ngFor="let item of customer.phone">
            {{item}}
          </div>
        </td>
        <td>{{customer.address}}</td>
        <td>
          <div *ngIf="customer.customerType == 'PESSOA_FISICA';">PF</div>
          <div *ngIf="customer.customerType == 'PESSOA_JURIDICA';">PJ</div>
        </td>
        <td>{{customer.document}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
